# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse

run-data
src/generated/resources/.cache

# Ignoruj cały folder run i wszystko w nim
run/

# Odignoruj foldery nadrzędne po których chcesz "przepuścić" śledzenie podfolderu grasses
!run/
!run/config/
!run/config/grasses/

# Ignoruj pliki w run/config (opcjonalnie, jeśli chcesz ignorować wszystko poza grasses)
run/config/*

# Odignoruj wszystkie pliki i podfoldery w grasses (żeby śledzić wszystko w środku)
!run/config/grasses/**

# Files from Forge MDK
forge*changelog.txt
