# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
run/
# other
eclipse

run-data
src/generated/resources/.cache

!run/
!run/config/
!run/config/grasses/
!run/config/grasses/**

# Files from Forge MDK
forge*changelog.txt
